.container {
  border: 2px solid;
  text-align: center;
  margin: auto;
  border: 10px solid skyblue;
  border-radius: 30px;
  padding: 20px;
  width: 47%;
  height: 99%;
  background: burlywood;
  
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.button {
  border: 0.5px solid #999;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  width: 60px;
  background-color: #46b8da;
  color: black;
  padding: 20px;
  width: 55%;
  margin: 2px;
  border-radius: 8%;
  
  
  

}


.button:hover {
  background-color: blue;
  color: white;
  /* transition: 0.5s ease-in-out; */
}